h3 {
    padding: 15px 0 15px 0;
}
ol li {
    margin-top: 20px;
}

ul li {
    margin-top: 0px;
}

img {
    max-width: 100%;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    padding: 4%;
}

/* Control the right side */
.right {
    padding-top: 4%;
    right: 0;
}

/*.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:focus{
    outline: none;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 50%;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}*/

input[type=range] {
    -webkit-appearance: none;
    width: 25%;
    margin: 12.5px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 25%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0.2px 0.2px 3.7px #000000, 0px 0px 0.2px #0d0d0d;
    background: #ededed;
    border-radius: 3.9px;
    border: 0px solid #ededed;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.8px 1.8px 5.2px #6e6e6e, 0px 0px 1.8px #7b7b7b;
    border: 7.8px solid #ededed;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background: #6e6e6e;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ededed;
}
input[type=range]::-moz-range-track {
    width: 25%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0.2px 0.2px 3.7px #000000, 0px 0px 0.2px #0d0d0d;
    background: #ededed;
    border-radius: 3.9px;
    border: 0px solid #ededed;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1.8px 1.8px 5.2px #6e6e6e, 0px 0px 1.8px #7b7b7b;
    border: 7.8px solid #ededed;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background: #6e6e6e;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 25%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #d1d1d1;
    border: 0px solid #ededed;
    border-radius: 7.8px;
    box-shadow: 0.2px 0.2px 3.7px #000000, 0px 0px 0.2px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #ededed;
    border: 0px solid #ededed;
    border-radius: 7.8px;
    box-shadow: 0.2px 0.2px 3.7px #000000, 0px 0px 0.2px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1.8px 1.8px 5.2px #6e6e6e, 0px 0px 1.8px #7b7b7b;
    border: 7.8px solid #ededed;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background: #6e6e6e;
    cursor: pointer;
    height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ededed;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ededed
}
